@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap");

:root {
  --orange: #fda214;
  --greyish-blue: #bcced9;
  --navy-blue: #304859;
  --dark-blue: #152938;
  --light-grey: #f2f2f2;
  --pale-blue: #7191a5;
  --sky-blue: #6395b8;
  --white: #fcfcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  min-height: 100vh;
}
